.carousel .control-dots .dot {
  width: 20px !important;
  height: 20px !important;
  box-shadow: none !important;
}

.carousel .control-dots .dot.selected {
  width: 24px !important;
  height: 24px !important;
}

.carousel .control-dots .dot {
  background-color: #d9d9d9 !important;
}

.carousel .control-dots .dot.selected {
  background-color: #f85e9f !important;
}

.carousel .slider {
  width: 110% !important;
}

@media (min-width: 640px) {
  .carousel .slider {
    width: 57% !important;
  }
}

@media (min-width: 768px) {
  .carousel .slider {
    width: 57% !important;
  }
}

@media (min-width: 1024px) {
  .carousel .slider {
    width: 40% !important;
  }
}

@media (min-width: 1280px) {
  .carousel .slider {
    width: 32% !important;
  }
}

@media (min-width: 1536px) {
  .carousel .slider {
    width: 26% !important;
  }
}
