.react-multi-carousel-dot-list {
  align-items: center;
}

.custom-dot {
  width: 20px !important;
  height: 20px !important;
  box-shadow: none !important;
  background-color: #d9d9d9 !important;
  border-radius: 50%;
  margin-right: 5px;
}

.custom-dot-active {
  width: 24px !important;
  height: 24px !important;
  background-color: #f85e9f !important;
  border-radius: 50%;
  margin-right: 5px;
}

.selector {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
